@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
@font-face {
  font-family: "Bete Noir";
  src: url("./public/betenoira.regular.otf") format("opentype"),
    url("./public/betenoira.regular.ttf") format("truetype");
}

* {
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/554/173/original/african-striped-print-turban-head-wrap-portrait-beauty-woman-in-afro-hairstyles-logo-design-black-women-hair-dress-africa-ethnic-template-isolated-on-sunset-background-vector.jpg");
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 90%);
  text-transform: uppercase;
  -webkit-box-shadow: 10px 10px 17px -1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 10px 10px 17px -1px rgba(0, 0, 0, 0.44);
  box-shadow: 10px 10px 17px -1px rgba(0, 0, 0, 0.44);
}

.titleI {
  font-size: 1.5rem;
  letter-spacing: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
  color: #f2bf07dd;
}

.titleII {
  font-size: 3.5rem;
  letter-spacing: 5px;
  margin: 0;
  font-family: "Bete Noir", sans-serif;
  color: #de180a;
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounceOut;
  animation-duration: 1s;
}

.titleII span {
  color: #0b880b;
}

header small {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #d9bea0;
}

.list {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

ul {
  width: 100%;
  max-width: 1200px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  gap: 4rem;
}

li {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 15px;
  list-style: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border: 1px solid #342311;
  border-radius: 20px;
  background-color: #c98d1fcd;
  background-color: rgba(0, 0, 0, 0.528);
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}

li > div > h2 {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 900;
  color: #f2bf07dd;
}

li div .small {
  height: 35px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

li div small {
  align-self: center;
  font-weight: 500;
  color: #f3e4d4;
}

li div small:hover {
  transform: scale(1.3);
  padding: 1rem;
  border-radius: 30px;
  cursor: pointer;
  color: #000000;
  background-color: #de180aba;
}

li > div > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

li > div > img:hover {
  transform: scale(1.2);
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}

li details {
  margin: auto;
}

li details summary {
  display: block;
  cursor: pointer;
  font-family: "Bete Noir", sans-serif;
  color: #f3e4d4;
  transition: 0.3s;
  user-select: none;
}

li details summary:hover {
  transform: scale(1.4);
}

li details p {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 20px;
  border-top: 1px solid #f3e4d4;
  overflow: auto;
  cursor: default;
  line-height: 1.5;
  user-select: none;
  color: #f3e4d4;
}

li details blockquote {
  font-style: italic;
  color: #f3e4d4;
}

@media (max-width: 440px) {
  header .titleI {
    font-size: 1rem;
  }

  header .titleII {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  header small {
    font-size: 0.5rem;
  }

  li {
    width: 70%;
  }
}

@media (max-width: 360px) {
  li > div > h2 {
    margin: 0;
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  li > div > small {
    font-size: 0.6rem;
  }

  li > div > img {
    width: 60%;
  }
}

@media (max-width: 260px) {
  header .titleI {
    font-size: 0.5rem;
  }

  header .titleII {
    font-size: 1.3rem;
  }

  header small {
    font-size: 0.5rem;
  }
}
